/* MOBILE VIEW */
.m-welcome-container{
    background-color:white;
    background-size:cover;
    height:100vh;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.top-design-vector-container{
    background-image: url("https://res.cloudinary.com/dtnhhgwlo/image/upload/v1699466062/welcome-big-vector_gnfpjw.png");
    background-position: top left;
    /* background-color:rgb(135, 130, 238); */
    background-size: auto;
    background-repeat: no-repeat;
    width:500px;
    height:200px
}

.small-vector-image{
    background-image:url("https://res.cloudinary.com/dtnhhgwlo/image/upload/v1699466100/welcome-small-vector_wtjgiy.png");
    background-position: top left;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: aqua;
    width:100%;
    height:100vh
}

.logo-container{
    margin-bottom:70px;
}

.logo-image{
    width:200px;
    height:50px;
}

.next-button-container{
    display:flex;
    align-items:center;
    padding:5px
}

.next-button-container p{
    display: inline;
    padding-right: 18px;
    font-size:22px;
    font-weight:400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.next-button{
    background-color:transparent;
    border:solid 2px blue;
    border-radius:10px;
    padding:10px 20px 10px 20px;
}


/* DESKTOP */

.d-welcome-container{
    background-color:white;
    background-size:cover;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

.d-content-container{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

/* .d-content-container h1{

} */


.desktop-logo-img{
    width:400px;
    height:90px;
}

@media (max-width:768px){
    .d-welcome-container{
        display:none;
    }

    .header-mobile{
        display:none;
    }
}

@media (min-width:768px){
    .m-welcome-container{
        display:none;
    }

}