.applied-jobs-container {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(#c1c7ee, #ffffff);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.applied-job-ul-list {
  padding: 0px;
  border: 2px solid red;
  width: 80%;
}

.applied-jobs-container h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 756px) {
  .applied-job-ul-list {
    width: 95%;
  }
}
